@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được thay đổi. Hãy <a asp-page="./Login">Bấm ở đây để đăng nhập</a>.
</p>
